.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.5rem;
  gap: 1rem;
}

.contactContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .contactContainer {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }

  .contactContainer p {
    text-align: center;
    padding-right: 3.813rem;
    padding-left: 3.813rem;
  }
}

@media (max-width: 768px) {
  .contactContainer {
    margin-top: 1rem;
  }

  .contactContainer p {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
